footer {
  background: lightblue;
}

footer .content {
  max-width: var(--container-width);
  margin: 0 auto;
}

footer ul {
  list-style: none;
}

footer .links {
  display: grid;
  grid-template-columns: repeat(2, minMax(0, 150px));
  justify-content: flex-end;
}