.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  
}

@media(max-width: 900px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: 0 auto;
  }
}